#primary {
    padding-block: 20px; /* block: pegando eixo vertical; apenas em cima e em baixo vai aplicar 20px */

    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    /* nesting css; semelhante ao HTML, cada elemento dentro de suas respectivas caixas */
    div:nth-child(2) {
        margin-inline: auto; /* inline: eixo horizontal; apenas esquerda e direita */
    }

    div:nth-child(3) {
        justify-self: end;
    }
}

#secundary {
    padding-block: 14px;
    border: 1px solid var(--stroke-color);
    border-inline: none;
    justify-content: space-between;
}