#featured {
    img {
        height: 100%;
        object-fit: cover;
    }

    .card {
        border-radius: 4px;
        overflow: hidden; /* transbordamento; escondendo tudo que passar da caixa */
        position: relative;

        &::before { /* seria a mesma coisa de fazer: .card::before; ele é necessário ai porque não dá pra iniciar só com os 2 pontinhos */
            content: ""; /* Quando usa ::before ou ::after para adicionar elementos visuais que não existem no HTML, o CSS precisa dessa propriedade para "ativar" o pseudo-elemento, mesmo que o conteúdo dentro das aspas esteja vazio. */
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            );
        }

        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;

            &:has(.text-lg) { /* ficaption tem um elemento com a classe text-lg? Se sim aplica padding de 12px  */
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }
        }
    }
}