#featured {
    img {
        height: 100%;
        object-fit: cover;
    }

    .card {
        border-radius: 4px;
        overflow: hidden; /* transbordamento; escondendo tudo que passar da caixa */
        position: relative;

        &::before { /* seria a mesma coisa de fazer: .card::before; ele é necessário ai porque não dá pra iniciar só com os 2 pontinhos */
            content: "";
            position: absolute;
            inset: 0;
            top: 50%;
            background: linear-gradient(
                180deg,
                transparent 0%,
                #020617 100%
            );
        }
    }
}